{% extends "base.j2" %}

{% from "bootstrap/form.html" import render_form %}

{% block app_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col m-3">
                <h3>Create a new check</h3>
                {{ render_form(create_form, button_map={"submit": "success"}) }}
            </div>
        </div>
    </div>
{% endblock %}
