{% extends "base.j2" %}

{% from "bootstrap/form.html" import render_form %}

{% block app_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-muted">Edit an existing check</h1>
            {{ render_form(form, button_map={"submit": "success", "cancel": "secondary"}) }}
        </div>
    </div>
</div>
{% endblock %}
