{% extends "base.j2" %}

{% from "bootstrap/form.html" import render_form %}
{% import "macros.j2" as macros %}

{% block app_content %}
    <div class="container shadow m-3">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Check</th>
                            <th scope="col">URL</th>
                            <th scope="col"><!--Empty--></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not checks %}
                            <tr class="table">
                                <td class="text-muted">No checks found.</td>
                                <td class="text-muted"><!--Empty--></td>
                                <td class="text-muted"><!--Empty--></td>
                            </tr>
                        {% endif %}
                        {% for check in checks %}
                            <tr class="table">
                                <th scope="row">
                                    <a class="text-{{ check.status }}" href="{{ url_for("dashboard.view_check", id=check.id) }}">{{ check.name }}</a>
                                </th>
                                <td>
                                    <a class="text-muted" href="{{ check.url }}">{{ check.url }}</a>
                                </td>
                                <td align="right">
                                    <a class="btn btn-warning" role="button" href="{{ url_for("admin.edit_check", id=check.id) }}">
                                        <img src="{{ url_for("static", filename="bootstrap-icons/icons/pencil.svg") }}" alt="Edit check"/>
                                    </a>
                                    <a class="btn btn-danger" role="button" href="{{ url_for("admin.delete_check", id=check.id) }}">
                                        <img src="{{ url_for("static", filename="bootstrap-icons/icons/trash.svg") }}" alt="Delete check"/>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col m-3">
                <a class="btn btn-success" role="button" href="{{ url_for("admin.create_check") }}">
                    <img src="{{ url_for("static", filename="bootstrap-icons/icons/plus.svg") }}" alt="Create check"/>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-1">
                {{ macros.to_home() }}
            </div>
        </div>
    </div>
{% endblock %}
