{% extends "base.j2" %}

{% from "bootstrap/form.html" import render_form %}

{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Check</th>
                            <th scope="col">URL</th>
                            <th scope="col"><!--Empty--></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for check in checks %}
                            <tr class="table">
                                <th scope="row">
                                    <a class="text-{{ check.status }}" href="{{ url_for("dashboard.view_check", id=check.id) }}">{{ check.name }}</a>
                                </th>
                                <td>
                                    <a class="text-muted" href="{{ check.url }}">{{ check.url }}</a>
                                </td>
                                <td align="right">
                                    <a class="btn btn-warning" role="button" href="{{ url_for("admin.edit_check", id=check.id) }}">Edit</a>
                                    <a class="btn btn-danger" role="button" href="{{ url_for("admin.delete_check", id=check.id) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>
                                    <a class="btn btn-success" role="button" href="{{ url_for("admin.create_check") }}">Create</a>
                                </td>
                                <td><!--Empty--></td>
                                <td><!--Empty--></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
