{% extends "base.html" %}

{% block app_content %}
<div class="card-columns">
{% for check in checks %}
    <div class="card border-{{ check.status }}">
        <h3 class="card-header">
            <a class="text-{{ check.status }}" href="{{ url_for("checks.view", id=check.id) }}">{{ check.name }}</a>
        </h1>
        <div class="card-body">
            <a class="card-subtitle text-muted" href="{{ check.url }}">{{ check.url }}</a>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    {% for event in check.recent_events %}
                    <tr>
                        <td>
                            <span>{{ event.message }}</span>
                            <span class="text-muted">{{ moment(event.time).fromNow() }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
