{% extends "base.j2" %}

{% import "macros.j2" as macros %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if not cards %}
                    <h1 align="center" class="text-muted">No checks found.</h1>
                {% endif %}
                <div class="card-columns m-3">
                    {% for card in cards %}
                        {% include "_card.j2" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-1">
                {{ macros.to_admin() }}
            </div>
        </div>
    </div>
{% endblock %}
