{% extends "base.j2" %}

{% from "bootstrap/form.html" import render_form %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">URL</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if not checks %}
                    <tr class="table">
                        <td class="text-muted">No checks found.</td>
                        <td class="text-muted"></td>
                        <td class="text-muted"></td>
                    </tr>
                    {% endif %}
                    {% for check in checks %}
                    <tr class="table">
                        <th scope="row">
                            <a class="text-{{ check.status }}" href="{{ url_for("checks.view", id=check.id) }}">{{ check.name }}</a>
                        </th>
                        <td>
                            <a class="text-muted" href="{{ check.url }}">{{ check.url }}</a>
                        </td>
                        <td align="right">
                            <a class="btn btn-primary" role="button" href="{{ url_for("checks.edit", id=check.id) }}">Edit</a>
                            <a class="btn btn-danger" role="button" href="{{ url_for("checks.delete", id=check.id) }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3 class="text-muted">Create a new check</h3>
            {{ render_form(form, button_map={"submit": "success"}, form_type="horizontal") }}
        </div>
    </div>
</div>
{% endblock %}
